{% extends "base.html" %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block nav %}
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url "" %}" class="logo">
              <img src="{% static "logo/1.jpeg" %}" alt="" height="50" width="50">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url "" %}" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="{% url "logout" %}" class="active">Logout</a></li>
 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
{% endblock nav %}

{% block main %}

<br>
<br>
<br>
<br>
<br>
<br>

<div>
{% for message in messages %}
<div class="container alert alert-success alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endfor %}
</div>

<div class="text-center my-2 d-grid gap-2 col-5 pt-2 mx-auto">

  <a href="{% url "create_tornment" %}" class="btn btn-outline-dark mb-5" style="background-color: #E963B0;border-color: #E963B0;">Create Tournament</a>
</div>
<div class="text-center container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tournament Name</th>
        <th scope="col">Organizer Name</th>
        <th scope="col">Battle Royale Type</th>
        <th scope="col">Number Of Teams</th>
        <th scope="col">Minimum Players</th>
        <th scope="col">Add Teams Name</th>
        <th scope="col">View Match</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      
      {% for i in tornament %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.tournament_name}}</td>
        <td>{{i.organizer_name}}</td>
        <td>{{i.battle_type}}</td>
        <td>{{i.number_of_team}}</td>
        <td>{{i.maximum_player_per_team}}</td>
        <td><a href="{% url "view_match" i.id %}" class="btn btn-danger">View Match</a></td>
        <td><a href="{% url "add-team" i.id %}" class="btn btn-danger">Manage Team</a></td>
        <td>
          <a href="{% url "delete_tornment" i.id %}" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash my-2" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}



{% block footer %}{% endblock footer %}